.slide-text {
	h3 {
		font-size: 42px;
		font-weight: 700;
		margin: 0 auto;
	}

	span {
		font-size: 18px;
	}
}

@media (max-width: 420px) {
	.slide-text {
		h3 {
			font-size: 28px;
		}

		span {
			font-size: 14px;
		}
	}
}
